*.cpy
*.bak
*.log
mpd/log
mpd/state
mpd/database
mpd/pid
mpd/sticker.sql

.vim/
Atom/
alacritty/
Bitwarden/
bspwm/
Clementine/
Electron/
fish/
GIMP/
QtProject.conf
Thunar/
autostart/
awesome/
citra-emu/
dconf/
discord/
evolution/
fontconfig/
gedit/
ghostwriter/
htop/
i3/
iptables/
keepassxc/
libaccounts-glib/
libfm/
libreoffice/
liferea/
luakit/
micro/
midori/
mimeapps.list
ncmpcpp/bindings
netsurf/
nomacs/
Notepadqq/
nvim/.netrwhist
pavucontrol.ini
pcmanfm/
polybar/
pulse/
qBittorrent/
qpdfview/
rofi/
sample_screenshots/old
session/
statusbar_better_battery.diff
sway/
systemd/user/default.target.wants/mpd.service
systemd/user/sockets.target.wants/
systemd/
tint2/
transmission/
user-dirs.dirs
user-dirs.locale
vlc/
whoozle.github.io/
xarchiver/
xfce4/
xsettingsd/
