*.cpy
*.bak
*.log
mpd/log
mpd/state
mpd/database
mpd/pid

.vim/
Atom/
Bitwarden/
Clementine/
Electron/
GIMP/
QtProject.conf
Thunar/
autostart/
awesome/
citra-emu/
dconf/
discord/
evolution/
fontconfig/
gedit/
ghostwriter/
gtk-2.0/
gtk-4.0/
htop/
i3/scripts/alternating_layouts.py
keepassxc/
libaccounts-glib/
libfm/
libreoffice/
liferea/
micro/
midori/
mimeapps.list
ncmpcpp/bindings
netsurf/
nomacs/
nvim/.netrwhist
pavucontrol.ini
pcmanfm/
pulse/
qpdfview/
session/
sway/
systemd/user/default.target.wants/mpd.service
systemd/user/sockets.target.wants/
tint2/
transmission/
user-dirs.dirs
user-dirs.locale
vlc/
whoozle.github.io/
xarchiver/
xfce4/
xsettingsd/
